@use "./mixin" as *;

.guide__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.guide-card {
  @include card;
  padding: 24px;
}

.guide-card h3 {
  margin-bottom: 12px;
  font-size: 20px;
}

@include mobile {
  .guide__grid {
    grid-template-columns: 1fr;
  }
}
